@import "tailwindcss";

@theme {
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --color-button-primary: rgb(76, 91, 31);
    --color-button-primary-hover: rgb(145, 156, 123);
    --color-button-secondary: rgb(225, 236, 202);
    --color-matcha: rgb(145, 156, 123);
    --color-primary-text: rgb(0, 0, 0);
    --color-secondary-text: rgb(139, 139, 139);
    --color-thirdary-text: rgb(146, 146, 146);
    --color-icon-primary: rgb(150, 150, 150);   
}
@font-face {
    font-family: 'DM_Sans';
    src: url('/fonts/DM_Sans/DM_Sans-Regular.ttf');
}

@font-face {
    font-family: 'Crimson_Text_regular';
    src: url('/fonts/Crimson_Text/Crimson_Text-Regular.ttf')
}

@font-face {
    font-family: 'Crimson_Text_bold';
    src: url('/fonts/Crimson_Text/Crimson_Text-Bold.ttf')
}

.dm-sans {
    font-family: 'DM_Sans', sans-serif;
}

.crimson-regular {
    font-family: 'Crimson_Text_regular', serif;
    font-weight: 400;
}

.crimson-bold {
    font-family: 'Crimson_Text_bold', serif;
}